{{!-- footer problem --}}

<div class="col-md-8 col-md-offset-2 posts">
  <h3 class='title'>{{model.title}}</h3>
  <p><img src={{model.picture}} alt={{model.title}}></p>
  <p class='date'>{{model.date}}</p>
  <p class='content'>{{model.content}}</p>
</div>
