{{!-- footer problem --}}

<div class="col-md-8 col-md-offset-2 posts">
  <h3 class='title'>{{post.title}}</h3>
  <p><img src={{post.picture}} alt={{post.title}}></p>
  <p class='date'>{{post.date}}</p>
  <p class='content'>{{post.content}}</p>
</div>
<div class="col-md-8 col-md-offset-2 comment">
  {{#if showUpdateComment}}
  {{update-comment updateComment="updateComment" currentComment=currentComment}}
  {{else}}
  {{new-comment post=post saveComment="saveComment"}}
  {{/if}}
  {{comment-list post=post comments=comments deleteComment='deleteComment' showUpdateComment='showUpdateComment'}}

</div>
