{{!-- footer problem --}}

<div class="col-md-8 col-md-offset-2 posts">
  <h3 class='title'>{{post.title}}</h3>
  <p><img src={{post.picture}} alt={{post.title}}></p>
  <p class='date'>{{post.date}}</p>
  <p class='content'>{{post.content}}</p>
</div>
<div class="col-md-8 col-md-offset-2 comment">
  {{new-comment post=post saveComment="saveComment"}}
  {{comment-list comments=comments}}
</div>
