<div class="row">
  <div class="col-md-8 col-md-offset-2 posts">
    {{#each model as |post|}}
      {{#link-to 'post' post.id}}<h3 class='title'>{{post.title}}</h3>{{/link-to}}
      {{#link-to 'post' post.id}}<p><img src={{post.picture}} alt={{post.title}}></p>{{/link-to}}
      <p class='date'>{{post.date}}</p>
      <p class='content'>{{post.content}}</p>
      {{#link-to 'post' post.id}}Add a comment{{/link-to}}
      <hr>
    {{/each}}
  </div>
</div>
